@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  color: var(--foreground);
}

body {
  background: var(--background);
}
